.paramsBlock {
  padding: 5px;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.flexParamBoard {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.flexParam {
  display: block;
  width: calc(50% - 20px);
  padding: 10px;
}

.dataOutputJson, .dataOutputText, .dataOutputTable {
  border-radius: 4px;
  padding: 5px;
  margin-top: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.dataOutputJson {
  background-color: #33C3F011;
  font-size: 85%;
}

.dataOutputText {
  background-color: #E1E1E133;
  text-align: justify;
}
